version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=yii2_crud
      - DB_USER=root
      - DB_PASS=root

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: yii2_crud
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
